<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.stackoverflow.sachinbakshi">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ir.stackoverflow.sachinbakshi.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ir.stackoverflow.sachinbakshi.HiveActivity"
            android:screenOrientation="portrait"
            android:label="Hive as Server">
        </activity>
        <activity
            android:name="ir.stackoverflow.sachinbakshi.StackoverflowActivity"
            android:screenOrientation="portrait"
            android:label="Stackoverflow as Server">
        </activity>
        <provider
            android:authorities="ir.stackoverflow.sachinbakshi.Data.QuestionProvider"
            android:name="ir.stackoverflow.sachinbakshi.Data.generated.QuestionProvider"
            android:exported="false"/>
    </application>

</manifest>
